<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SQLConnectionString1" connectionString="Data Source=NAVJOT\SQLEXPRESS;Initial Catalog=Rapid;User ID=sa;Password=petroit@1234;" />
  <add name="RapidEntities" connectionString="metadata=res://*/TerminalBasedTable.csdl|res://*/TerminalBasedTable.ssdl|res://*/TerminalBasedTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAVJOT\SQLEXPRESS;initial catalog=Rapid;user id=sa;password=petroit@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>